.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid #eee;
}

h1, h3 {
    text-transform: uppercase;
}

.nav-menu-top {
    margin-top: 133px;
    margin-left: 50px;
    margin-bottom: 138px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.inline-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0;
    margin: 0;
    width: 391.48px;
    height: 22px;
}

.inline-list li {
    position: relative;
    padding-left: 0;
    align-items: center;
}

.inline-list li:not(:first-child)::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  border: 0.5px solid #000000;
  border-radius: 50%;
}

.dot {
    box-sizing: border-box;
    position: relative;
    width: 6px;
    height: 6px;
    margin-top: 9px;
    margin-bottom: 6px;
    border: 0.5px solid #000000;
    border-radius: 50%;
}

.nav-menu-top a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.logo-black {
    margin-top: 92px;
    margin-right: 474px;
    margin-bottom: 96px;
}

.contacts-top {
    position: absolute;
    width: 240px;
    height: 98px;
    margin-top: 95px;
    margin-bottom: 100px;
    margin-left: 810px;
    margin-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.email {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.underline {
    text-decoration: none;
    position: relative;
    color: currentColor;
    display: inline;
    padding: 0;
    border-bottom: 2px solid currentColor;
}

.address {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background: url('../images/cover.jpg') center/cover no-repeat;
    z-index: -1;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.it {
    position: absolute;
    width: 286px;
    height: 115px;
    margin-left: 50px;
    margin-top: 165px;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.you {
    position: absolute;
    width: 339px;
    height: 115px;
    margin-left: calc(50% - 339px/2);
    margin-top: 300px;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.need {
    position: absolute;
    width: 387px;
    height: 115px;
    margin-left: 663px;
    margin-top: 435px;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.description {
    position: absolute;
    width: 1000px;
    height: 51px;
    margin-left: 50px;
    margin-top: 656px;
    z-index: 1;
}

.subline {
    position: absolute;
    width: 637px;
    height: 28px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: justify;
}

.subline::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.button {
    position: absolute;
    width: 256px;
    height: 51px;
    margin-left: 744px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: transparent;
}

.lots {
    margin-top: 180px;
}

.lots h1 {
    margin-left: 64px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.lots-container {
    display: flex;
    flex-direction: row;
    height: 653px;
    gap: 25px;
    padding: 0 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lot-card {
    width: 334px;
    height: 596px;
    margin-top: 27px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: white;
    z-index: 1;
}

.lot-card:nth-child(1) {
    background: url('../images/card-lot-01.jpg') center/cover no-repeat;
    z-index: -1;
}

.lot-card:nth-child(2) {
    background: url('../images/card-lot-02.jpg') center/cover no-repeat;
    z-index: -1;
}

.lot-card:nth-child(3) {
    background: url('../images/card-lot-03.jpg') center/cover no-repeat;
    z-index: -1;
}

.lot-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.card-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    padding: 48px 40px;
    height: 596px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
}

.card-content h3 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 22px;
}

.card-content p {
    line-height: 1.5;
    opacity: 0.9;
    font-weight: 400;
    font-size: 20px;
}

.more {
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.about {
    display: flex;
    gap: 72px;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 120px;
    height: 595px;
    padding: 0 24px;
}

.about h1 {
    position: absolute;
    margin-top: 136px;
    margin-left: 359px;
}

.logo-block {
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 50%;
    z-index: 0;
    margin-top: 35px;
    margin-left: 47px;
    position: relative;
}

.logo-white {
    position: absolute;
    width: 240px;
    height: 240px;
    margin-top: 64px;
    margin-bottom: 62px;
    z-index: 1;
}

.about-block {
    position: absolute;
    margin-top: 133px;
    margin-left: 359px;
    width: 639px;
    height: 462px;
}

.description-block {
    position: absolute;
    margin-top: 150px;
    width: 693px;
    height: 312px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.description-block p {
    margin-bottom: 24px;
}

.about-block h1 {
    margin: 3px 402px 399px 0;
    width: 291px;
    height: 47px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.nav-menu-bottom {
    position: absolute;
    margin-top: 1px;
    margin-bottom: 115px;
    margin-left: 468.6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.nav-menu-bottom a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.nav-menu-bottom ul {
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.footer {
    margin-top: 180px;
}

.contacts-bottom {
    position: absolute;
    width: 262.57px;
    height: 98px;
    margin-left: 50px;
    margin-bottom: 82px;
}

.socials {
    display: flex;
    gap: 48px;
    flex-direction: row;
    position: absolute;
    margin-top: 1px;
    margin-bottom: 131px;
    margin-right: 50px;
    margin-left: 810px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}